@{
    ViewData["Title"] = "Home";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Josh Cathey</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="css/heading.css">
    <link rel="stylesheet" href="css/body.css">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Josh Cathey</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#experience">EXPERIENCE</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">PROJECTS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#skills">SKILLS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#education">EDUCATION</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#hobbies">HOBBIES</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-secondary text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <a class="navbar-brand js-scroll-trigger">
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/assets/img/accountphoto.jpg" alt="" />
                </span>
            </a><br>

            @*<img class="masthead-avatar mb-5" src="~/assets/img/accountphoto.jpg" alt="">*@
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">Hello, I'm Josh Cathey</h1>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                I'm a Full-Stack Software Developer living in the beautiful pacific northwest.
                I love learning new technologies, building responsive software, and exploring the great outdoors.
            </p><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0"></div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <a class="btn btn-outline-dark btn-social mx-1" target="_blank" href="https://linkedin.com/in/josh-cathey">
                            <i class="fab fa-fw fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-outline-dark btn-social mx-1" target="_blank" href="https://github.com/Josh-Cathey">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0"></div>
                </div>
            </div>
        </div>
    </header>

    <section class="page-section experience" id="experience">
        <div class="container">
            <!-- Experience Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">EXPERIENCE</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Experience Grid Items-->
            <div class="row justify-content-center">

                <div class="flex-grow-0">
                    <h3 class="mb-0">Full-Stack Web Developer Intern</h3>
                    <div class="masthead-subheading mb-3">Oregon Criminal Defense Lawyers Association (June 2020 - Present)</div>
                    <ul>
                        <li>Built and deployed a Google Maps Web API feature for the <a target="_blank" href="https://ocdla.app/maps">OCDLA responsive web app</a>.</li>
                        <li>Designed the Google Maps feature for the client's brand, using the client's themes, colors, and logos.</li>
                        <li>
                            Enhanced interactive features for staff and members allowing them to explore by zoom level, 
                            click on custom marker icons to view member and courthouse information, giving the customer 
                            full control of what feature they want to see on the map. 
                        </li>
                        <li>Utilized SOQL to query the external Salesforce database to get membership and geolocation data.</li>
                        <li>Organized Member, Marker, and MapApplication classes using JavaScript.</li>
                        <li>Applied JavaScript Fetch to integrate Salesforce data into the feature.</li>
                        <li>Implemented a configuration system allowing developers to change marker icons, map themes, and start locations. </li>
                    </ul>

                    <h3 class="mb-0">Software Engineer</h3>
                    <div class="masthead-subheading mb-3">Freelance - Lane Community College Capstone (March 2020 - June 2020)</div>
                    <ul>
                        <li>Worked with a team to engineer an e-commerce Web App for Direct Kick Soccer Shop.</li>
                        <li>Utilized a Model-View-Controller design pattern for a faster project development process.</li>
                        <li>Applied ASP.Net Core Identity for account creation and custom role management in .NET Core 3.1.</li>
                        <li>Created Cart, Order, Product, Team, and User classes using C#.</li>
                        <li>Employed Entity Framework for relational database management of products, carts, users, and teams.</li>
                        <li>Queried SQL Server Database using LINQ to manage products, user accounts, team accounts, and user carts.</li>
                    </ul>

                    <h3 class="mb-0">General Manager</h3>
                    <div class="masthead-subheading mb-3">Cafe Yumm! (July 2014 - August 2019)</div>
                    <ul>
                        <li>Developed a team of 40 team members to meet an annual sales goal of over 2.5 million dollars.</li>
                        <li>
                            Improved employee training to meet quality control, food storage, food rotation, and cleanliness standards,
                            resulting in eight consecutive years of 100% health inspection scores.
                        </li>
                        <li>
                            Held monthly staff meetings inviting open discussion and collaboration to find new ways to improve company culture, 
                            processes, training, and customer relations.
                        </li>
                        <li>
                            Regularly exceeded company-wide hourly and daily sales records, total traffic per hour and day records, and showed 
                            greater yearly sales growth, compared with the average restaurant in the fast-casual segment.
                        </li>
                    </ul>

                    <h3 class="mb-0">Store Associate</h3>
                    <div class="masthead-subheading mb-3">Cafe Yumm! (February 2009 - July 2014)</div>
                    <ul>
                        <li>Handled competing demands from managers and customers.</li>
                        <li>Demonstrated personable communication with customers to ensure positive relations.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">PROJECTS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>

            <div class="text-center"><h3 class="mb-0"><a target="_blank" href="https://github.com/Josh-Cathey/appserver-maps">OCDLA Map Feature</a></h3></div> <br />
            <!-- OCDLA Project Area -->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="~/assets/img/portfolio/ocdlaMaps.PNG" alt="Custom OCDLA Themed Map" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="~/assets/img/portfolio/ocdlaMapTerrain.PNG" alt="Custom OCDLA Map Terrain Style" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="~/assets/img/portfolio/ocdlaMapMembers.PNG" alt="Custom OCDLA Member Icons" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="~/assets/img/portfolio/ocdlaMemberInfoWindow.PNG" alt="OCDLA Member Info Window" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="~/assets/img/portfolio/ocdlaMapCourts.PNG" alt="Custom OCDLA Circuit Court Icons" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="~/assets/img/portfolio/ocdlaCourtsInfoWindow.PNG" alt="OCDLA Circuit Court Info Window" />
                    </div>
                </div>
            </div>

            <!-- Project Description Area -->
            <div class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="masthead-subheading mb-3"><strong>Project Summary</strong></div>
                            <p class="mb-5">
                                A Google map I developed for the Oregon Criminal Defense Lawyers Association as a Full-Stack Developer Intern.
                                This map feature is styled using OCDLA colors and themes. I created custom marker icons that are used to display
                                multiple layers of data to the user.  These different layers of data include membership data, courthouse data, locations of current OCDLA members, and
                                circuit courts in Oregon.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Languages and Technologies -->
            <section class="skills">
                <div class="container">
                    <!-- Experience Grid Items-->
                    <div class="row justify-content-center">
                        <div class="flex-grow-0">
                            <div class="masthead-subheading mb-3">Languages</div>
                            <ul class="fa-ul mb-0">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    PHP
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    JavaScript
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Apex
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    SOQL
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    HTML
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    CSS
                                </li>
                            </ul>
                        </div><br />
                        <div class="flex-grow-0" style="padding-left: 60px;">
                            <div class="masthead-subheading mb-3">Technologies</div>
                            <ul class="fa-ul mb-0">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Google API's
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Salesforce
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Bootstrap
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><br />

            <!-- Project Live Link Area -->
            <div class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <p><strong>See the live feature <a target="_blank" href="https://ocdla.app/maps">here</a>.</strong></p>
                        </div>
                    </div>
                </div>
            </div><br />



            <div class="text-center"><h3 class="mb-0"><a target="_blank" href="https://github.com/Josh-Cathey/SoccerFans">Soccer Fans Community Site</a></h3></div> <br />
            <!-- Soccer Fans Project Area -->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/soccerFans.PNG" alt="A Site for Soccer Fans!" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/soccerFansLogin.PNG" alt="Soccer Fans Login" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/soccerFansAccountManager.PNG" alt="Soccer Fans Admin Account Manager" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/soccerFansVideos.PNG" alt="Soccer Fans Listed Videos" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/soccerFansComment.PNG" alt="Soccer Fans Comment Area" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/soccerFansForum.PNG" alt="Soccer Fans Forum Post Input" />
                    </div>
                </div>
            </div>

            <!-- Project Description Area -->
            <div class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="masthead-subheading mb-3"><strong>Project Summary</strong></div>
                            <p class="mb-5">
                                A community soccer fan site I developed for the final of my Web Development 2: ASP.NET course at Lane Community College.
                                Users can create an account, comment on popular videos, create forum posts for other users, comment on forum posts,
                                as well as browse user profiles. The site has integrated roles for administrators and is using ASP.NET Identity for
                                account management.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Languages and Technologies -->
            <section class="skills">
                <div class="container">
                    <!-- Experience Grid Items-->
                    <div class="row justify-content-center">
                        <div class="flex-grow-0">
                            <div class="masthead-subheading mb-3">Languages</div>
                            <ul class="fa-ul mb-0">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    C#
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    JavaScript
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    SQL
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    HTML
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    CSS
                                </li>
                            </ul>
                        </div><br />
                        <div class="flex-grow-0" style="padding-left: 60px;">
                            <div class="masthead-subheading mb-3">Technologies</div>
                            <ul class="fa-ul mb-0">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    ASP.NET Core 3.1
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    ASP.NET Core Identity
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Entity Framework
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    LINQ
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Razor
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Dependency Injection
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Bootstrap
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section><br />


            <div class="text-center"><h3 class="mb-0"><a target="_blank" href="https://github.com/Josh-Cathey/Dropshipping">E-commerce Web App - Team Sports Northwest</a></h3></div> <br />
            <!-- Dropshipping Project Area -->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/teamSportsNW.PNG" alt="Team Sports NW e-commerce Site" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/teamSportsNWLogin.PNG" alt="Team Sports NW Login Page" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/teamSportsNWCart.PNG" alt="Team Sports NW Cart" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/teamSportsNWMgrDash.PNG" alt="Team Creation Request" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/teamSportsNWAdminIndex.PNG" alt="Admin Index Manager" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto">
                        <img class="img-fluid" src="assets/img/portfolio/teamSportsNWAwaitingRequests.PNG" alt="Admin - View Awaiting Team Requests" />
                    </div>
                </div>
            </div>

            <!-- Project Description Area -->
            <div class="text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="masthead-subheading mb-3"><strong>Project Summary</strong></div>
                            <p class="mb-5">
                                This e-commerce web app was developed by my Capstone 2020 team for Direct Kick Soccer Shop in Eugene, OR.
                                Our client needed a site that functioned as a standard e-commerce platform, one that also allowed local
                                teams to come and build their own team page on the website. The team page displays items for sale listed by
                                the team, including uniforms, hoodies, hats, and other custom printed specialty clothing. The site was built
                                using ASP.NET Core 3.1. Some of the features for this site include a cart system, checkout using PayPal,
                                account management, team management, ASP.NET Identity, and custom roles have been established for account management.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Languages and Technologies -->
        <section class="skills">
            <div class="container">
                <!-- Experience Grid Items-->
                <div class="row justify-content-center">
                    <div class="flex-grow-0">
                        <div class="masthead-subheading mb-3">Languages</div>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                C#
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                JavaScript
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                SQL
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                HTML
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                CSS
                            </li>
                        </ul>
                    </div><br />
                    <div class="flex-grow-0" style="padding-left: 60px;">
                        <div class="masthead-subheading mb-3">Technologies</div>
                        <ul class="fa-ul mb-0">
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                ASP.NET Core 3.1
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                ASP.NET Core Identity
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Entity Framework
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                LINQ
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Razor
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Dependency Injection
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-check"></i></span>
                                Bootstrap
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><br /><br />

        <div class="masthead-subheading mb-3 text-center">
            <strong>See more projects on my <a target="_blank" href="https://github.com/Josh-Cathey">GitHub</a>!</strong>
        </div>

    </section>


   


    <section class="page-section skills" id="skills">
        <div class="container">
            <!-- Experience Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Skills</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Experience Grid Items-->
            <div class="row justify-content-center">
                <div class="flex-grow-0">
                    <div class="masthead-subheading mb-3">Languages</div>
                    <ul class="fa-ul mb-0" style="padding-bottom: 20px">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            C#
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            PHP
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            JavaScript
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            HTML
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            CSS
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            SQL and PL/SQL
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            MySQL
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Apache
                        </li>
                    </ul>
                    <div class="masthead-subheading mb-3">Databases</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Oracle SQL Server
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            MS SQL Server
                        </li>
                    </ul>
                </div><br />
                <div class="flex-grow-0">
                    <div class="masthead-subheading mb-3">Core Concepts</div>
                    <ul class="fa-ul mb-0" style="padding-bottom: 20px">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Software Development
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            RESTful API Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Data Modeling
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Object-Oriented Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Model-View-Control Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Dependency Injection
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Version Control
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Advanced Debugging and Troubleshooting
                        </li>
                    </ul>
                    <div class="masthead-subheading mb-3">Frameworks</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            ASP.NET Core
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            ASP.NET
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Salesforce
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            WAMP
                        </li>
                    </ul>
                </div><br />
                <div class="flex-grow-0">
                    <div class="masthead-subheading mb-3">Experienced with</div>
                    <ul class="fa-ul mb-0" style="padding-bottom: 20px">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Git
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Node.js
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            React
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            LINQ
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Bootstrap
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Azure
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            AWS
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Atlassian Software
                        </li>
                    </ul>
                    <div class="masthead-subheading mb-3">Testing Tools</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            xUnit
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            NUnit
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            JUnit
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="page-section education" id="education">
        <div class="container">
            <!-- Experience Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">EDUCATION</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Experience Grid Items-->
            <div class="row justify-content-center">
                <div class="flex-grow-0">
                    <h3 class="mb-0">AAS in Computer Programming (2018 - 2020)</h3>
                    <div class="masthead-subheading mb-3">Lane Community College</div>
                    <ul>
                        <li>Design, implement, test, and debug web based applications using a variety of current tools and technologies</li>
                        <li>Understand the relationship between computer programs and organizational processes</li>
                        <li>Interpret the mathematical concepts of a problem-solving task and translate them into code</li>
                        <li>Use appropriate library and information resources to research programming tools and technologies</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>







    <section class="page-section hobbies" id="hobbies">
        <div class="container">
            <!-- Experience Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Hobbies</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Experience Grid Items-->
            <div class="row justify-content-center">
                <div class="flex-grow-0">
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-biking"></i></span>
                            Road Cycling
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-snowboarding"></i></span>
                            Snowboarding
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-futbol"></i></span>
                            Soccer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-running"></i></span>
                            Trail Running
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-mountain"></i></span>
                            Mountain Biking
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-hand-rock"></i></span>
                            Bouldering
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-hiking"></i></span>
                            Hiking
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-gamepad"></i></span>
                            Playing Video Games
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-seedling"></i></span>
                            Gardening
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-fish"></i></span>
                            Fishing
                        </li>
                    </ul>
                </div><br />
            </div>
        </div>
    </section>


    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center" style="padding-bottom: 10px">
                        <div class="icon-contact mb-3">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <a id="textSpecial" class="lead font-weight-bold">Eugene, OR</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center" style="padding-bottom: 10px">
                        <div class="icon-contact mb-3">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <a id="textSpecial" class="lead font-weight-bold" href="mailto:josh.cathey33@gmail.com">josh.cathey33@gmail.com</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center" style="padding-bottom: 10px">
                        <div class="icon-contact mb-3">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <a id="textSpecial" class="lead font-weight-bold">(541) 852-9502</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<footer class="footer text-center">

        </footer>*@

</body>
</html>