@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Josh Cathey</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="css/heading.css">
    <link rel="stylesheet" href="css/body.css">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Josh Cathey</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#experience">EXPERIENCE</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#education">EDUCATION</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#skills">SKILLS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">PROJECTS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-secondary text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <a class="navbar-brand js-scroll-trigger">
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/assets/img/accountphoto.jpg" alt="" />
                </span>
            </a><br>

            @*<img class="masthead-avatar mb-5" src="~/assets/img/accountphoto.jpg" alt="">*@
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">Hello, I'm Josh Cathey</h1>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">
                I'm a Full-Stack Software Developer living in the beautiful pacific northwest.
                I love learning new technologies, building responsive apps, and exploring the outdoors.
            </p><br />
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0"></div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <a class="btn btn-outline-dark btn-social mx-1" href="www.linkedin.com/in/josh-cathey">
                            <i class="fab fa-fw fa-linkedin-in"></i>
                        </a>
                        <a class="btn btn-outline-dark btn-social mx-1" href="https://github.com/Josh-Cathey">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0"></div>
                </div>
            </div>
        </div>
    </header>

    <section class="page-section experience" id="experience">
        <div class="container">
            <!-- Experience Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">EXPERIENCE</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Experience Grid Items-->
            <div class="row justify-content-center">

                <div class="flex-grow-0">
                    <h3 class="mb-0">Full-Stack Web Developer Intern</h3>
                    <div class="masthead-subheading mb-3">Oregon Criminal Defense Lawyers Association</div>
                    <ul>
                        <li>Worked in a team to build and launch new features for the OCDLA responsive web app</li>
                        <li>Built and implemented a custom OCDLA themed Google Map to display different layers of data</li>
                        <li> Learned many new concepts and technologies to implement new features</li>
                        <li>Languages Used: HTML/CSS, JavaScript, PHP, Apex, SQL</li>
                        <li>Technologies Used: Google API's, Bootstrap</li>
                    </ul>

                    <h3 class="mb-0">Owner-Operator - General Manager</h3>
                    <div class="masthead-subheading mb-3">Cafe Yumm! Springfield (Gateway and Riverbend)</div>
                    <ul>
                        <li>Implemented new business strategies to improve customer relations, sales, and brand awareness</li>
                        <li>Developed a team to meet an annual sales goal of over 2.5 million dollars</li>
                        <li>Produced a staff trained to achieve eight consecutive years of 100% health inspection scores</li>
                        <li>Helped dozens of team members meet professional goals within our businesses</li>
                    </ul>

                    <h3 class="mb-0">Store Associate</h3>
                    <div class="masthead-subheading mb-3">Cafe Yumm! Springfield (Gateway and Riverbend)</div>
                    <ul>
                        <li>Handled competing demands from managers and customers</li>
                        <li>Demonstrated personable communication with customers to ensure positive relations</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section education" id="education">
        <div class="container">
            <!-- Experience Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">EDUCATION</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Experience Grid Items-->
            <div class="row justify-content-center">
                <div class="flex-grow-0">
                    <h3 class="mb-0">Lane Community College</h3>
                    <div class="masthead-subheading mb-3">Associate of Applied Science in Computer Programming (2018 - 2020) - 3.78GPA</div>
                    <ul>
                        <li>Design, implement, test, and debug web based using a variety of current tools and technologies</li>
                        <li>Understand the relationship between computer programs and organizational processes</li>
                        <li>Interpret the mathematical concepts of a problem-solving task and translate them into code</li>
                        <li>Use appropriate library and information resources to research programming tools and technologies</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <section class="page-section skills" id="skills">
        <div class="container">
            <!-- Experience Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Skills</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Experience Grid Items-->
            <div class="row justify-content-center">
                <div class="flex-grow-0">
                    <div class="masthead-subheading mb-3">Programming Languages & Tools</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            HTML/CSS
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            JavaScript
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            C#
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            PHP
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            SQL
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            MySQL
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            LINQ
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Oracle SQL Developer
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            SQL Server
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Apache
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            ASP.NET
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            React
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Salesforce
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Git
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Azure
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Bootstrap
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Jira
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Slack
                        </li>
                    </ul>
                </div><br />
                <div class="flex-grow-0" style="padding-left: 60px;">
                    <div class="masthead-subheading mb-3">Core Concepts</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile Software Development
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Object-Oriented Design
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            MVC
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Dependency Injection
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Data Modeling
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Iterative Development
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Version Control
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Advanced Debugging and Troubleshooting
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">PROJECTS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>


            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/cabin.png" alt="Log Cabin" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/cake.png" alt="Tasty Cake" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/portfolio/circus.png" alt="Circus Tent" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Modal-->
    <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Log Cabin</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/portfolio/cabin.png" alt="Log Cabin" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Tasty Cake</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/portfolio/cake.png" alt="Tasty Cake" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal2Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Circus Tent</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="assets/img/portfolio/circus.png" alt="Circus Tent" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center" style="padding-bottom: 10px">
                        <div class="icon-contact mb-3">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <a id="textSpecial" class="lead font-weight-bold">Eugene, OR</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center" style="padding-bottom: 10px">
                        <div class="icon-contact mb-3">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <a id="textSpecial" class="lead font-weight-bold" href="mailto:josh.cathey33@gmail.com">josh.cathey33@gmail.com</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center" style="padding-bottom: 10px">
                        <div class="icon-contact mb-3">
                            <i class="fas fa-phone-alt"></i>
                        </div>
                        <a id="textSpecial" class="lead font-weight-bold">(541) 852-9502</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<footer class="footer text-center">

        </footer>*@

</body>
</html>